@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Inconsolata&display=swap');

body {
    box-sizing: content-box;
    background-color: #1f1f1f;
    color:bisque;
    margin: 0;
    font-family: 'Inconsolata', monospace;
   
    
}
.projects{
    width: 100vw;
     display: flex;
    justify-content: center ;
}
.project{
    width: 80%;
    max-width: 1000px;
}

img{
    
}

